<h1 class="fw">Customers</h1>
<hr class="fw">

<div class="leftnav">
	<h3><u>Add a Customer</u></h3>

	<div ng-if="error">
		<span class="error">{{ error }}</span>
	</div>

	<form ng-submit="create(newCustomer)">
		<label for="name">Customer Name:</label><br>
		<input type="text" ng-model="newCustomer.name">
		<input type="submit" value="Add" class="btn blue">
	</form>
</div>

<div id="customers" class="fw">
	<div class="right">
		<input type="text" placeholder="search customers..." ng-model="filter_customer">
	</div>
	
	<table class="cent">
		<tr>
			<th>Customer Name</th>
			<th>Created Date</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="customer in customers | filter:filter_customer">
			<td>{{ customer.name }}</td>
			<td>{{ customer.created_at | date: shortDate }}</td>
			<td><button class="btn red" ng-click="delete($index)">Remove</button></td>
		</tr>
	</table>
</div>