<h1 class="fw">Dashboard</h1>
<hr class="fw">

<div class="leftnav">
	<h4><b>Filter All Results:</b></h4>
	<input type="text" ng-model="filter_all" placeholder="search...">	
</div>

<div id="dashboardContainer">

	<!-- Products -->
	<div class="dashboardRow">
		<h3 class="cent"><u>Products</u></h3>	
		
		<div ng-repeat="product in products | filter:filter_all | limitTo: prodlimit as prodresults" class="productBox">
			<img ng-src="{{ product.image }}" alt="">
			<p>{{ product.product }}</p>
			<p>({{ product.qty }} left)</p>
		</div>
		<div class="cent">
			<button ng-hide="prodresults.length === products.length" ng-click="prodlimit = prodlimit +4" class="btn blue">show more...</button>	
		</div>
	</div>

	<!-- Orders -->
	<div class="dashboardRow">
		<h3 class="cent"><u>Recent Orders</u></h3>

		<p ng-repeat="order in orders | filter:filter_all | limitTo: orderlimit as orderresults">{{ order.customer.name }} purchased {{ order.qty }} {{ order.product.product }}... <time am-time-ago="order.created_at"></time></p>
		<div class="cent">
			<button ng-hide="orderresults.length === orders.length" ng-click="orderlimit = orderlimit +3" class="btn blue">show more...</button>	
		</div>
	</div>

	<!-- Customers -->
	<div class="dashboardRow">
		<h3 class="cent"><u>New Customers</u></h3>	

		<p ng-repeat="customer in customers | filter:filter_all | limitTo: custlimit as custresults">{{ customer.name }} joined the store. (<time am-time-ago="customer.created_at"></time>)</p>
		<div class="cent">
			<button ng-hide="custresults.length === customers.length" ng-click="custlimit = custlimit +3" class="btn blue">show more...</button>	
		</div>
	</div>
</div>


<!-- <div>
  <foo ng-repeat="item in items | limitTo: limit as results"></foo>
</div>
<button ng-hide="results.length === items.length" 
		ng-click="limit = limit +2">show more...</button> -->