<h1 class="fw cent">Orders</h1>
<hr class="fw">

<div class="leftnav">
	<h3><u>Add an Order</u></h3>
	
	<div ng-if="error">
		<span class="error">{{ error }}</span>
	</div>

	<form ng-submit="create(newOrder)">
		<label for="name">Customer:</label><br>
		<select ng-model="newOrder.customer">
			<option ng-repeat="customer in customers" value="{{ $index }}">{{ customer.name }}</option>
		</select><br>

		<label for="qty">QTY:</label><br>
		<input type="number" ng-model="newOrder.qty"><br>

		<label for="product">Product:</label><br>
		<select ng-model="newOrder.product">
			<option ng-repeat="product in products" value="{{ $index }}">{{ product.product }}</option>
		</select>

		<input type="submit" value="Order" class="btn blue">
	</form>
</div>


<div id="orders">
	<div class="right">
		<input type="text" placeholder="search orders..." ng-model="filter_orders">
	</div>
	<table>
		<tr>
			<th>Customer Name</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Date</th>
		</tr>
		<tr ng-repeat="order in orders | filter:filter_orders">
			<td>{{ order.customer.name }}</td>
			<td>{{ order.product.product }}</td>
			<td>{{ order.qty }}</td>
			<td>{{ order.created_at | date: shortDate }}</td>
		</tr>
	</table>
</div>