*{
	font-family: sans-serif;
}
#wrapper{
	max-width: 1200px;
	margin: auto;
	background: #eee;
}
#body{
	display: flex;
	flex-wrap: wrap;
}
#navbar{
	display: flex;
	justify-content: flex-end;
}
#navbar *{
	margin: 20px;
}
h1, h2, h3{
	font-weight: bold;
}
/*HR*/
hr{
	height: 30px;
	flex: 1 1 80%;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
	margin-bottom: 0px;
}
hr:before{
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
	margin-bottom: 0px;
}


.fw{
	width: 100%;
}
.cent{
	flex: 0 0 100%;
	text-align: center;
}
.right{
	flex: 0 0 100%;
	text-align: right;
	height: 30px;
}
table {
	border: 3px solid black;
	border-collapse: collapse;
	margin: auto;
}

th, td {
	border-left: 3px solid black;
	border-right: 3px solid black;
	padding: 5px;
}
tr:nth-child(even) {background-color: #f2f2f2}
tr:nth-child(odd) {background-color: white}
th {
	background-color: gray;
	color: white;
}

.panel{
	border: 3px solid black;
	display: inline-block;
	margin: 20px;
	padding: 2em;
	position: relative;
}
.panelTitle{
	position: absolute;
	top: -1.5em;
	left: 1em;
	background: white;
	display: inline-block;

}

.btn{
	display: inline-block;
	margin: 5px;
	text-decoration: none;
	color: black;
	border-radius: 0px;
	border: 3px solid black;
	box-shadow: 4px 4px 0px black;
	background: white;
	font-size: 1em;
	padding: 4px;
}
.blue{
	background: blue;
	color: white;
}
.red{
	background: red;
	color: white;
}
input, textarea, select{
	border: 3px solid black;
	margin: 5px;
	border-radius: 0%;
}
.error{
	color: red;
	background: pink;
	border: 3px solid red;
	border-radius: 5px;
	padding: 4px;
	line-height: 2.5em;
}
.leftnav{
	display: block;
	height: 90vh;
	background: lightgray;
	padding: 5px;
	flex: 0 0 15em;
}

/*=========== DASHBOARD ===============*/
#dashboardContainer{
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	align-items: flex-start;
	align-content: flex-start;
}
.dashboardRow{
	display: block;
	margin: 0px;
	flex: 1 1 80vw;
	padding: 0px 10px;
}

/*========== PRODUCTS ===============*/
#products{
	display: block;
	margin: 0px;
	flex: 1 1 50vw;
}
.productBox{
	display: inline-block;
	width: 15em;
	height: 10em;
	margin: 12px;
	text-align: center;
}
img{
	border: 3px solid black;
	width: 150px;
	height: 150px;
	margin: auto;
}

/*========== ORDERS ===============*/
#orders{
	flex: 2 2 50px;
}


/*========== CUSTOMERS ===============*/
#customers{
	flex: 2 2 50px;
}